<div class="container">
	<div class="col-8 col-sm-8 col-md-8 d-flex p-2 justify-content-center mb-5">
        <a type="button" class="btn btn-info mr-2" href="/tasks">View Tasks</a>
				<a type="button" class="btn btn-info mr-2" href="#/alt">Alternate</a>

	</div>

  <button
    type="button"
    class="btn btn-info btn-lg pull-right float-right"
    data-toggle="modal"
    data-target="#myModal"
  >
    New Task
  </button>
  <h2>All Tasks</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Parent Task</th>
        <th>Status</th>
        <th>Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in taskList">
        <td>{{task.taskid}}</td>
        <td>{{task.name}}</td>
        <td>{{task.desecription}}</td>
        <td>{{task.parenttask}}</td>
        <td>{{task.employeeId}}</td>
        <td>{{task.employeeId}}</td>

      </tr>
    </tbody>
  </table>
</div>
<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create A New Task</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"
              >Task Name</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputEmail3"
                placeholder="Task Name"
                ng-model="newTask.name"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"
              >Description</label
            >
            <div class="col-sm-10">
              <input
                type="textarea"
                class="form-control"
                id="inputEmail3"
                placeholder="Description"
                ng-model="newTask.description"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"
              >Parent Task (Optional)</label
            >
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Parent Task" ng-model="newTask.parenttask"/>
              <option ng-selected="data.unit == item.id" ng-repeat="item in units" ng-value="item.id">{{item.label}}</option>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"
              >Priority Level</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputEmail3"
                placeholder="Priority"
                ng-model="newTask.priority"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"
              >Attachments (Optional)</label
            >
            <div class="col-sm-10">
              <input disabled
                type="textarea"
                class="form-control"
                id="inputEmail3"
                placeholder="Email Address"
                ng-model="newwTask.attachment"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"
              >Team ID (optional)</label>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                id="inputEmail3"
                placeholder="Team ID"
                ng-model="newTask.teamid"
              />
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                ng-click="createTask();"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
